{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link href="{% static "music_explorer_app/css/bootstrap.css" %}" rel="stylesheet">
  </head>
  <body>
    <script src="{% static "music_explorer_app/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "music_explorer_app/js/bootstrap.js" %}"></script>

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#shazam" aria-controls="shazam" role="tab" data-toggle="tab">
            <img src="{% static "music_explorer_app/img/shazam_favicon.ico" %}"></img>Shazam
          </a>
        </li>
        <li role="presentation">
          <a href="#lastfm" aria-controls="lastfm" role="tab" data-toggle="tab">
            <img src="{% static "music_explorer_app/img/lastfm_favicon.ico" %}" />Last.FM
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="shazam">This is a tab</div>
        <div role="tabpanel" class="tab-pane fade" id="lastfm">This is a tab</div>
      </div>

    </div>

  </body>
</html>
